*, *::before, *::after {
  box-sizing: border-box;
}

button {
  margin-bottom: 8px;
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid grey;
}

tbody tr:nth-child(odd) {
  background-color: whitesmoke;
}

th, td {
  padding-left: 5px;
  border: 1px solid gray;
  text-align: left;
}